.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}

#tableau th{
    background-color: #f2f2F2;
    text-align: center;
}

#tableau td{
    text-align: center;
}

.text-decoration-underline{
    text-decoration: underline;
}